<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">
                    Skypoint Farm is a full service Hunter Jumper equestrian
                    facility providing boarding, lessons, training, and sales.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack services fa-4x">
                    <img
                        class="img-circle img-responsive"
                        src="img/services/lessons.jpg"
                        alt=""
                    />
                </span>
                <h4 class="service-heading">Lessons</h4>
                <p class="text-muted">
                    At Skypoint Farm, we focus on the development of a rider's
                    fundamentals, emphasizing form and function.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack services fa-4x">
                    <img
                        class="img-circle img-responsive"
                        src="img/services/boarding.jpg"
                        alt=""
                    />
                </span>
                <h4 class="service-heading">Boarding</h4>
                <p class="text-muted">
                    We offer premium full-care boarding with 24/7 monitoring and
                    on-site management.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack services fa-4x">
                    <img
                        class="img-circle img-responsive"
                        src="img/services/training.jpg"
                        alt=""
                    />
                </span>
                <h4 class="service-heading">Training</h4>
                <p class="text-muted">
                    Our experienced and nationally recognized trainers are
                    dedicated to the development of horse and rider.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack services fa-4x">
                    <img
                        class="img-circle img-responsive"
                        src="img/services/teams.jpg"
                        alt=""
                    />
                </span>
                <h4 class="service-heading">IEA & IHSA Teams</h4>
                <p class="text-muted">
                    We are home to the Skypoint IEA and Kent State IHSA Hunt
                    Seat teams.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack services fa-4x">
                    <img
                        class="img-circle img-responsive"
                        src="img/services/sales.jpg"
                        alt=""
                    />
                </span>
                <h4 class="service-heading">Sales & Leases</h4>
                <p class="text-muted">
                    We pride ourselves in matching horses and riders, forming
                    happy, lasting partnerships. We have the resources to help
                    you find your perfect match.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack services fa-4x">
                    <img
                        class="img-circle img-responsive"
                        src="img/services/showing.jpg"
                        alt=""
                    />
                </span>
                <h4 class="service-heading">Showing</h4>
                <p class="text-muted">
                    We compete at rated and schooling shows year-round.
                </p>
            </div>
        </div>
    </div>
</section>
