<!doctype html>
<html>
    {% include head.html %}

    <body id="page-top">
        {% include header.html %}
        <!-- -->
        <h1>{{ page.title }}</h1>
        <!-- -->
        {{ page.content }}
        <!-- -->
        {% include footer.html %}
        <!-- -->
        {% include js.html %}
    </body>
</html>

<!--

NOTE:

This layout is just here for testing at the moment.  It technically works, but it needs
some styling to make it look proper.  This Agency template isn't exactly built to do
anything more than a single-page app, so if we need multiple pages for some reason
we may need to do some tweaking.  Or use another template more suitable for lots of pages.

-- BWs

-->
